<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  	<display-name>dekan</display-name>
  	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>dekan.webAppRoot</param-value>
	</context-param>
	<!-- <login-config>
		Authorization setting for SSL
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>Client Cert Users-only Area</realm-name>
	</login-config>
	<security-constraint>
		Authorization setting for SSL
		<web-resource-collection>
			<web-resource-name>SSL</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>    -->
  	
  	<!--spring配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>
	<!--spring初始化加载监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
	<listener>
		<!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
		<listener-class>com.dekan.mall.web.listener.ApplicationContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- spring编码转换过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 编码转换过滤器 -->
	<filter>
		<filter-name>encodingConvertFilter</filter-name>
		<filter-class>com.dekan.mall.web.filter.EncodingConvertFilter</filter-class>
		<init-param>
			<param-name>fromEncoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>toEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- 
	<filter-mapping>
		<filter-name>encodingConvertFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<!--验证码控制器-->
	<filter>
		<filter-name>captchaFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>captchaFilter</filter-name>
		<url-pattern>/captcha.jpeg</url-pattern>
	</filter-mapping>
	<!--访问权限控制-->
	<filter>
		<filter-name>accessDeniedFilter</filter-name>
		<filter-class>com.dekan.mall.web.filter.AccessDeniedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.conf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.sql</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.properties</url-pattern>
	</filter-mapping>
	<!--系统请求过滤-->
	<filter>
		<filter-name>systemFilter</filter-name>
		<filter-class>com.dekan.mall.web.filter.SystemFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>systemFilter</filter-name>
		<url-pattern>/SYSTEM</url-pattern>
	</filter-mapping>
	<!--页面重定向-->
	<filter>
		<filter-name>urlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>urlRewriteFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>urlRewriteFilter</filter-name>
		<url-pattern>/wechat/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!--客户端缓存控制-->
	<filter>
		<filter-name>cacheControlFilter</filter-name>
		<filter-class>com.dekan.mall.web.filter.CacheControlFilter</filter-class>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>cacheControlFilter</filter-name>
		<url-pattern>/admin/order/*</url-pattern>
	</filter-mapping>
	<!--客户端是否压缩传输-->
	<filter>
		<filter-name>gzipFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<!-- struts mvc配置-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- spring mvc配置 -->
	<servlet>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>*.ac</url-pattern>
	</servlet-mapping>
	<!-- CXFServlet配置 -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/ws/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- session配置-->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- 错误页面  -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/html/error.html</location>
	</error-page>
		<error-page>
		<error-code>500</error-code>
		<location>/html/error_500.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/html/error_404.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/html/error_403.html</location>
	</error-page>
	<!--默认页面-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>