<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta charset="utf-8">
	<meta http-equiv="Cache-control" />
	<meta name="format-detection" content="telephone=no" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width; maximum-scale=1.0; user-scalable=no; initial-scale=1.0" />
	<title>白蚁监测管理系统</title>
	<link href="../../css/front/masterPage.css" rel="stylesheet" type="text/css" />
	<link href="../../css/front/index.css" rel="stylesheet" type="text/css" />
	<link href="../../css/front/idangerous.swiper.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="../../js/front/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../js/front/idangerous.swiper-1.8.min.js"></script>

	<script type="text/javascript" src="../../js/front/load.js"></script>
	<script type="text/javascript" src="../../js/front/share.js"></script>
		<script>
			$(function() {
				if(getUrlParam("openId") =="" || getUrlParam("openId") == null || getUrlParam("openId") == "undefined"){
					
				} else{
					localStorage.l_openId = getUrlParam("openId");
				}
				loadIndexAdList();
				loadProductList();
				loadCarNumList();
				afterLoad();
				var docW = document.documentElement.clientWidth;
            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
				$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
				$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
				
				
				
				$(".edit").bind("touchend", function(){
				  	$(".d_price, .edit").css("display", "none");
					  $(".finish").css("display","block");
					  $(".d_dDelete").css("display", "table-cell");
				});
				
				$(".finish").bind("touchend", function() {
					$(".finish, .d_dDelete").css("display", "none");
					$(".edit").css("display", "block");
					$(".d_price").css("display", "table-cell");
				});
			   $(".buyCar").bind("click", function() {
						//$(".d_price, .edit").css("display", "none");
						$(".layer_myCar").toggleClass("layerOD");
						if ($(".layer_myCar").hasClass("layerOD")) {
							$(".layer_bottom").css("display", "block");
							//$(".indexFooter").addClass("hideIndexBottom");
							$(".buyCarLayerFooter").addClass("showBuyCarBottom");
							} else {
							$(".layer_bottom").css("display", "none");
							$(".buyCarLayerFooter").removeClass("showBuyCarBottom");
							//$(".indexFooter").removeClass("hideIndexBottom")
						}
			 	});
				
				/*cartList.addEventListener("touchmove",function(){
					//e.preventDefault();
					document.addEventListener("touchmove",function(e){
					alert(1)
					e.preventDefault();
						return false;
					},false)
				
				},false);
				cartList.addEventListener("touchend",function(e){
				
					e.preventDefault();
					alert(1)
					document.removeEventListener("touchmove");
				},false);*/

				$(".layer_bottom").bind("click", function(){
					$(".layer_bottom").css("display","none");
					$(".layer_myCar").removeClass("layerOD");
					$(".buyCarLayerFooter").removeClass("showBuyCarBottom");
					$(".indexFooter").removeClass("hideIndexBottom")
				});
				
				$("#classDiv li a").bind("click", function(){
					//console.log($(this).html())
					var aId = $(this).attr("name");
					//var lastValue = aId.charAt(aId.length – 1);
					//console.log(lastValue);
					var scrollTopValue = $(aId).offset().top;
					$("html, body").animate({"scrollTop":scrollTopValue+"px"},500);
				});
				myCar.addEventListener("touchstart",function(e){
					e.preventDefault();									 
					var ox=e.changedTouches[0].clientX;
					var oy=e.changedTouches[0].clientY;
					var otimeStamp=e.timeStamp;
					var oscrolltop=$("#myCar .layer_summary").scrollTop();
					myCar.addEventListener("touchmove",function(ev){
						ev.preventDefault();									 
						var nx=ev.changedTouches[0].clientX;
						var ny=ev.changedTouches[0].clientY;
						var ns=oscrolltop-(ny-oy);
						$("#myCar .layer_summary").stop().animate({scrollTop:ns},0);
					},false);											
						
				
				},false);
				bannerAuto_ex();
				t = setInterval(function(){bannerAuto_ex()},5000);

			});
			var bannerAuto_ex = function(){
				iV = $(".swiper-active-switch").index();
				var _lengthL = $(".pagination-n1").children().length;
				iV ++;
				if( iV == _lengthL){
					iV = 0;
				}
				$(".swiper-pagination-switch").eq(iV).addClass("swiper-active-switch").siblings().removeClass("swiper-active-switch");
			    var docW = document.documentElement.clientWidth;
			   $(".swiper-wrapper").css("transform", "translate3d(-"+ docW*iV +"px, 0px, 0px)");
			   $(".swiper-wrapper").css("-ms-transform", "translate3d(-"+ docW*iV +"px, 0px, 0px)");
			   $(".swiper-wrapper").css("-o-transform", "translate3d(-"+ docW*iV +"px, 0px, 0px)");
			   $(".swiper-wrapper").css("-webkit-transform", "translate3d(-"+ docW*iV +"px, 0px, 0px)");
			   $(".swiper-wrapper").css("transition", "0.3s");
			   $(".swiper-wrapper").css("-ms-transition", "0.3s");
			   $(".swiper-wrapper").css("-o-transition", "0.3s");
			   $(".swiper-wrapper").css("-webkit-transition", "0.3s");
			}
 			$(window).resize(function () {
				var docW = document.documentElement.clientWidth;
    			$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
				$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
				$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
				$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
   			 });
			function deleteRoom(thisd){
				 $(thisd).parent().parent().remove();
				 $("#cartNum").html(parseInt($("#cartNum").html())-1);//数量
				 $("#productPrice").html(parseFloat(parseFloat($("#productPrice").html()) - parseFloat($(thisd).parent().children().find(".Price_now").html())).toFixed(0));
				 editCart("delete",$(thisd).attr("name"));
			}
			function afterLoad(){
				var swiperN1 = $('.swiper-n1').swiper({
					pagination : '.pagination-n1',
					slidesPerSlide : 1,
				});
			}
			//加载广告位
			function loadIndexAdList(){
				$.ajax({
							url : '/dekan/wechat/indexad/list.do',
							type : 'POST',
							async : false,
							timeout : 100, //超时时间设置，单位毫秒
							dataType : "json",
							data : null,
							success : function(data) {
								var data;
								//alert(data.length);
								if (data == null || data == "undefined"
										|| typeof (data) == "undefined"
										|| data.length == 0) {
								} else {
									for (var i = 0; i < data.length; i++) {
										if (data[i].rul != null && data[i].rul != "") {
											$("#indexAdDiv").append("<div class='swiper-slide'><a href='"+data[i].rul+"'><img width='100%' height='100%' src='"
																	+ data[i].adImageUrl
																	+ "'></a></div>");
										}else {
											$("#indexAdDiv").append("<div class='swiper-slide'><img width='100%' height='100%' src='"
																	+ data[i].adImageUrl
																	+ "'></div>");
										}
										
									}
									var docW = document.documentElement.clientWidth;
									$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
									
								}
							},
							error : function(XMLHttpRequest, textStatus,
									errorThrown) {
								if (textStatus == "timeout") {
								}
							}
						 });
                         afterLoad();
						}
					//加载类别与商品
					function loadProductList(){
						$.ajax({
							url : '/dekan/wechat/product/list.do?openId='+localStorage.l_openId,
							type : 'POST',
							async : false,
							timeout : 100, //超时时间设置，单位毫秒
							dataType : "json",
							data : null,
							success : function(data) {
								var data;
								//alert(data.length);
								//alert(data[0].products[0].name);
								if (data == null || data == "undefined"
										|| typeof (data) == "undefined"
										|| data.length == 0) {
								} else {
									for (var i = 0; i < data.length; i++) {
										$("#classDiv").append("<li><a name='#"+data[i].id+"'>"+ data[i].categoriesName+ "</a></li>");
										//alert(data[i].products.length);
										if (i == 0) {
											var productLists = "";
											for (var j = 0; j < data[i].products.length; j++) {
											    var isFreeGet = "";
											    if(data[i].products[j].isFree == "TRUE"){
												    isFreeGet = "<span class='freeget'>免费领取</span>";
												}else{
												    isFreeGet = "套餐价<cite>￥"
														+ data[i].products[j].productConfig[0].productPrice
														+ "</cite></p>";
												}
												productLists += "<a href='detail.html?pid="
														+ data[i].products[j].id
														+ "'><div class='rP_block'><div class='rp_img'><img src='"
														+ data[i].products[j].defaultImgUrl
														+ "' width='100%' height='100%' /></div>"
														+ "<div class='rp_name_box'><div class='rp_name'><span class='rp_title'><h3>"
														+ data[i].products[j].name
														+ "</h3><p>"
														+ data[i].products[j].descInfo
														+ "</p></span>"
														+ "<span class='rp_price'><p class='packagePrice'>"
														+ isFreeGet 
														+ "</span></div></div></div></a>"
											}
											$("#Contenter").append("<h2 id="+data[i].id+">"
																	+ data[i].categoriesName
																	+ "</h2>"
																	+ "<div class='recommendedPackage'>"
																	+ productLists
																	+ "</div>");
											
											
											
											
											var docW = document.documentElement.clientWidth;
							            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
										} else {
											var productLists = "";
											for (var j = 0; j < data[i].products.length; j++) {
											    var isFreeGet = "";
											    if(data[i].products[j].isFree == "TRUE"){
												    isFreeGet = "<span class='freeget02'>免费<br />领取<span>";
												}else{
												    isFreeGet = "<i>￥</i>"+ data[i].products[j].productConfig[0].productPrice;
												}
												productLists += "<a href='detail.html?pid="
														+ data[i].products[j].id
														+ "' class='com_block'><div class=' aS_block'><div class='com_img aS_img'><img src='' width='100%' height='100%' data-src='"
														+ data[i].products[j].defaultImgUrl
														+ "' /></div>"
														+ "<div class='com_name aS_name'><span class='com_title aS_title'><h3>"
														+ data[i].products[j].name
														+ "</h3><p>"
														+ data[i].products[j].descInfo
														+ "</p></span>"
														+ "<span class='com_price aS_price'>"
														+ isFreeGet
														+ "</span></div></div></a>"
											}
											$("#Contenter")
													.append("<h2 id="+data[i].id+">"
																	+ data[i].categoriesName
																	+ "</h2>"
																	+ "<div class='adaptationSeedlings'>"
																	+ productLists
																	+ "<div class='clear'></div></div>");
											
											
											var docW = document.documentElement.clientWidth;
											$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
											$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
										}
									}
								}
							},
							error : function(XMLHttpRequest, textStatus,
									errorThrown) {
								if (textStatus == "timeout") {
								}
							}
							});
						}
            //加载购物车数量以及列表
			function loadCarNumList(){
				$.ajax({
					url : '/dekan/wechat/product/carNumList.do?code='+ getUrlParam("code")+'&openId='+localStorage.l_openId,
					type : 'POST',
					async : false,
					timeout : 100, //超时时间设置，单位毫秒
					dataType : "json",
					data : null,
					success : function(data) {
						    var data;
						    // alert(data.openId);
						    // alert(data.cartNum);
						    localStorage.l_openId = data.openId;
							var carts = data.carts;//购物车
							if (carts == null || carts == "undefined" || typeof (carts) == "undefined") {
							} else {
								$("#carTotalPrice").html(data.productPrice);//金额
								$("#cartNum").html(carts.length);//数量
								$("#cartList").html("");
								for (var i = 0; i < carts.length; i++) {
									$("#cartList").append("<div class='layer_box'><div class='car_detail'><span class='d_img'><div class='dImg_area'>"+
									"<img src='"+carts[i].product.defaultImgUrl+"' width='100%' height='100%' /></div></span>"+
									"<span class='d_detail'><div class='dnameNum'><p class='d_name'>"+carts[i].product.name+"</p><div class='numAddPlus' name='"+carts[i].product.id+"'>"+
									"<span class='textValueNum'>X<i class='textValue'>"+carts[i].productNum+"</i></span>"+
									"<a class='plusBtn grayBtn' name='"+carts[i].productPrice+"' ontouchend='plusRoom(this)' ontouchstart></a>"+
									"<a class='btnselect addBtn' name='"+carts[i].productPrice+"' ontouchend='addRoom(this)' ontouchstart></a></div></div></span>"+
									"<span class='d_price'><span class='dPrice'>￥<i id='Price_now' class='Price_now'>"+(carts[i].productPrice * carts[i].productNum) +"</i></span></span>"+
									"<span class='d_dDelete' ontouchend='deleteRoom(this)' name='"+carts[i].product.id+"'><span class='dDelete'>删除</span></span><div class='clear'></div></div></div>");
								}
							}

					},
					error : function(XMLHttpRequest, textStatus,
							errorThrown) {
						if (textStatus == "timeout") {
						}
					}
				});
			}
            window.onload = function(){
            	$("html, body").scrollTop(0);
            	var docW = document.documentElement.clientWidth;
            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
				$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
				$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
				setTimeout(function(){
					var docW = document.documentElement.clientWidth;
	            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
					$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
					$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
					$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
				},1000);
				setTimeout(function(){
					var docW = document.documentElement.clientWidth;
	            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
					$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
					$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
					$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
				},3000);
				setTimeout(function(){
					var docW = document.documentElement.clientWidth;
	            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
					$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
					$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
					$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
				},5000);
				setTimeout(function(){
					var docW = document.documentElement.clientWidth;
	            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
					$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
					$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
					$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
				},7000);
				setTimeout(function(){
					var docW = document.documentElement.clientWidth;
	            	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
					$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
					$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
					$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
				},9000)
            }
            
            
        function goToPay(){
        	if($("#carTotalPrice").html() != "" && parseFloat($("#carTotalPrice").html())>0){
        		window.location.href="fill.html?cart=cart&showwxpaytitle=1&openId="+ localStorage.l_openId;
        	}else{
                alert("请先添加商品到购物车哦");        		
        	}
        }    
		
		
	function addRoom(thisd) {
			var textV = $(thisd).parent().children().children(".textValue").html();
			var valueT = ++textV;
			if (valueT > 1000) {
				$(thisd).parent().children().children(".textValue").html("1000");
				return;
			}
			$(thisd).parent().children().children(".textValue").html(valueT);
			$(thisd).parent().parent().parent().parent().children().find(".Price_now").html(parseFloat(parseFloat(valueT) * parseFloat($(thisd).attr("name"))).toFixed(0))
			$("#carTotalPrice").html(parseFloat(parseFloat($("#carTotalPrice").html()) + parseFloat($(thisd).attr("name"))).toFixed(0));
			$(".plusBtn").addClass("btnselect").removeClass("grayBtn").attr("ontouchend", "plusRoom(this)");
			editCart("add",$(thisd).parent().attr("name"));
		}
		function plusRoom(thisd) {
			var textV = $(thisd).parent().children().children(".textValue").html();
			if(textV > 0){
				var valueT = --textV;
				if (textV == 1 || textV < 1) {
					 $(thisd).removeClass("btnselect").addClass("grayBtn").removeAttr("ontouchend");
					 $(thisd).parent().children().children(".textValue").text("1");
			 		 $(thisd).parent().parent().parent().parent().children().find(".Price_now").html(parseFloat(parseFloat(1) * parseFloat($(thisd).attr("name"))).toFixed(0))
					 if (textV == 1) {
			 		    $("#carTotalPrice").html(parseFloat(parseFloat($("#carTotalPrice").html()) - parseFloat($(thisd).attr("name"))).toFixed(0));
						editCart("plus",$(thisd).parent().attr("name"));
					 }
			 		 return false;
				}
				$(thisd).parent().children().children(".textValue").html(valueT);
				$(thisd).parent().parent().parent().parent().children().find(".Price_now").html(parseFloat(parseFloat(valueT) * parseFloat($(thisd).attr("name"))).toFixed(0))
			    $("#carTotalPrice").html(parseFloat(parseFloat($("#carTotalPrice").html()) - parseFloat($(thisd).attr("name"))).toFixed(0));
				editCart("plus",$(thisd).parent().attr("name"));
			}
		}
		function deleteRoom(thisd){
			 $(thisd).parent().parent().remove();
			 $("#cartNum").html(parseInt($("#cartNum").html())-1);//数量
			 $("#carTotalPrice").html(parseFloat(parseFloat($("#carTotalPrice").html()) - parseFloat($(thisd).parent().children().find(".Price_now").html())).toFixed(0));
			 editCart("delete",$(thisd).attr("name"));
		}
		//操作购物车
		function editCart(flag,pid){
			$.ajax({
				url : '/dekan/wechat/product/editcart.do?id=' + pid +'&openId='+ localStorage.l_openId+'&flag='+flag,
				type : 'POST',
				async : false,
				dataType : "json",
				async : false,
				data : null,
				success : function(data) {
				 
				}
			});
		}
		</script>
</head>
<body>
	<div id="moveL">
		<div id="Banner">
			<div class="swiper-container swiper-n1">
				<div class="pagination-n1"></div>
				<div class="swiper-wrapper" id="indexAdDiv"></div>
			</div>
		</div>
		<div id="Contenter"></div>
	</div>
	<Footer id="Footer" class="indexFooter">
	
		<div class="layer_myCar" id="myCar">
			<h4>
				<i>我的购物车</i><a class="edit">编辑</a><a class="finish">完成</a>
			</h4>
			<div class="layer_summary">
				<div id="cartList">
					<!--car_detail -->
				</div>
				<!--layer_box -->
			</div>
		<!--layer_summary -->
		</div>
		<!--layer_myCar -->
		<div class="footerBg">
			<ul class="tab" id="classDiv">
			</ul>
			<span class="buyCar"><img
				src="../../css/front/images/buyCar.png" width="24" /><i
				class="quantity" id="cartNum">0</i></span>
		</div>
	</Footer>
	<script type="text/javascript">
		var API = {
			on : function(element, type, handler) {
				return element.addEventListener ? element.addEventListener(
						type, handler, false) : element.attachEvent(
						'on' + type, handler)
			},
			bind : function(object, handler) {
				return function() {
					return handler.apply(object, arguments)
				}
			},
			pageX : function(El) {
				var left = 0;
				do {
					left += El.offsetLeft;
				} while (El.offsetParent
						&& (El = El.offsetParent).nodeName.toUpperCase() != 'BODY');
				return left;
			},
			pageY : function(El) {
				var top = 0;
				do {
					top += El.offsetTop;
				} while (El.offsetParent
						&& (El = El.offsetParent).nodeName.toUpperCase() != 'BODY');
				return top;
			},
			hasClass : function(element, className) {
				//return new RegExp('(^|\\s)' + className + '(<a href="$)').test(element.className">\\s|$)').test(element.className</a>)
			},
			attr : function(element, attr, value) {
				if (arguments.length == 2) {
					return element.attributes[attr] ? element.attributes[attr].nodeValue
							: undefined
				} else if (arguments.length == 3) {
					element.setAttribute(attr, value)
				}
			}
		};
		function lazyload(obj) {
			this.lazy = typeof obj === 'string' ? document.getElementById(obj)
					: document.getElementsByTagName('body')[0];
			this.aImg = this.lazy.getElementsByTagName('img');
			this.fnLoad = API.bind(this, this.load);
			this.load();
			API.on(window, 'scroll', this.fnLoad);
			API.on(window, 'resize', this.fnLoad);
		}
		lazyload.prototype = {
			load : function() {
				var iScrollTop = document.documentElement.scrollTop
						|| document.body.scrollTop;
				// 屏幕上边缘
				var iClientHeight = document.documentElement.clientHeight
						+ iScrollTop;
				// 屏幕下边缘
				var i = 0;
				var aParent = [];
				var oParent = null;
				var iTop = 0;
				var iBottom = 0;
				var aNotLoaded = this.loaded(0);
				if (this.loaded(1).length != this.aImg.length) {
					var notLoadedLen = aNotLoaded.length;
					for (i = 0; i < notLoadedLen; i++) {
						iTop = API.pageY(aNotLoaded[i]) - 200;
						iBottom = API.pageY(aNotLoaded[i])
								+ aNotLoaded[i].offsetHeight + 200;
						var isTopArea = (iTop > iScrollTop && iTop < iClientHeight) ? true
								: false;
						var isBottomArea = (iBottom > iScrollTop && iBottom < iClientHeight) ? true
								: false;
						if (isTopArea || isBottomArea) {
							// 把预存在自定义属性中的真实图片地址赋给src
							aNotLoaded[i].src = API.attr(aNotLoaded[i],
									'data-src')
									|| aNotLoaded[i].src;
							if (!API.hasClass(aNotLoaded[i], 'loaded')) {
								if ('' != aNotLoaded[i].className) {
									aNotLoaded[i].className = aNotLoaded[i].className
											.concat(" loaded");
								} else {
									aNotLoaded[i].className = 'loaded';
								}
							}
						}
					}
				}
			},
			loaded : function(status) {
				var array = [];
				var i = 0;
				for (i = 0; i < this.aImg.length; i++) {
					var hasClass = API.hasClass(this.aImg[i], 'loaded');
					if (!status) {
						if (!hasClass)
							array.push(this.aImg[i])
					}
					if (status) {
						if (hasClass)
							array.push(this.aImg[i])
					}
				}
				return array;
			}
		};
		API.on(window, 'load', function() {
			new lazyload()
		});
	</script>
	<div class="layer_bottom"></div>
	<div class="footerBottom buyCarLayerFooter">
		<span class="showMoney">应付金额：<i class="rmb_f">￥</i><i class="price" id="carTotalPrice">0</i></span>
		<span class="addToCar_toPay">
			<a class="btn btn_toPay" ontouchend="goToPay()">去结算</a>
		</span>
	</div>
	
<style type='text/css'>
	.pagination-n1 {text-align:right; padding-right:21px;bottom: 15px;height: 12px;left: 0;position: absolute;width: 100%;z-index: 200;}
	.pagination-n1 span:last-child{ margin-right:20px;}
	.swiper-pagination-switch {background: none repeat scroll 0 0 #fff;border-radius: 8px; cursor: pointer;display: inline-block;height: 8px;margin: 0 2px;width: 8px;}
	.swiper-active-switch {background: none repeat scroll 0 0 #f39800;}
</style>
<script type="text/javascript">
$(function(){
	var _lengthL = $(".pagination-n1").children().length;
	if(_lengthL == 1){
		$(".pagination-n1").hide();
	}else{
		return;
	}
	var docW = document.documentElement.clientWidth;
	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
	$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
	$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
	setTimeout(function(){
		var docW = document.documentElement.clientWidth;
    	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
		$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
		$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
		$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
	},1000);
	setTimeout(function(){
		var docW = document.documentElement.clientWidth;
    	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
		$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
		$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
		$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
	},3000);
	setTimeout(function(){
		var docW = document.documentElement.clientWidth;
    	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
		$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
		$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
		$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
	},5000);
	setTimeout(function(){
		var docW = document.documentElement.clientWidth;
    	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
		$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
		$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
		$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
	},7000);
	setTimeout(function(){
		var docW = document.documentElement.clientWidth;
    	$(".rp_img").css({"height": parseInt((docW-20)*296/598) +"px"});
		$(".com_block").css({"width": parseInt((docW-20)*0.485) +"px", "margin-bottom": docW - parseInt((docW-20)*0.97) - 20 +"px"});
		$(".com_img").css({"height": parseInt((docW-20)*0.485)+"px", "width": parseInt((docW-20)*0.485)+"px"});
		$(".swiper-n1, .swiper-n1 .swiper-slide").css({"height": parseInt(docW / 2.3) + "px", "width": docW +"px"});
	},9000)
})
</script>

</body>
</html>
