<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration" 
	xsi:schemaLocation="
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd 
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util-3.0.xsd 
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://cxf.apache.org/jaxws 
                        http://cxf.apache.org/schemas/jaxws.xsd
                        http://cxf.apache.org/transports/http/configuration 
                        http://cxf.apache.org/schemas/configuration/http-conf.xsd">
    
    <!--数据源配置  -->
	<bean id="myBatisDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>${db.jdbc.driverClass}</value>
		</property>
		<property name="jdbcUrl">
			<value>${db.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${db.jdbc.username}</value>
		</property>
		<property name="password">
			<value>${db.jdbc.password}</value>
		</property>
		<property name="initialPoolSize">
			<value>${db.initialPoolSize}</value>
		</property>
		<property name="minPoolSize">
			<value>${db.minPoolSize}</value>
		</property>
		<property name="maxPoolSize">
			<value>${db.maxPoolSize}</value>
		</property>
		<property name="maxStatements">
			<value>${db.maxStatements}</value>
		</property>
		<property name="maxIdleTime">
			<value>${db.maxIdleTime}</value>
		</property>
		<property name="acquireIncrement">
			<value>${db.acquireIncrement}</value>
		</property>
		<property name="acquireRetryAttempts">
			<value>${db.acquireRetryAttempts}</value>
		</property>
		<property name="acquireRetryDelay">
			<value>${db.acquireRetryDelay}</value>
		</property>
		<property name="checkoutTimeout">
			<value>${db.checkoutTimeout}</value>
		</property>
	</bean>
	
	<!--数据库事务配置-->
	<bean id="myBatisTransactionManagerDB"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="myBatisDataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="myBatisTransactionManagerDB" />
	
	<!--配置mybatis数据SessionFactory-->
	<bean id="sqlSessionFactory" 
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myBatisDataSource"></property>
		<property name="configLocation" value="classpath:mybatisConfig.xml"></property>
		<property name="mapperLocations" value="classpath*:com/dekan/mall/dao/mybatis/mapper/*.xml"/>
		<property name="typeAliasesPackage" value="com.dekan.mall.bean.entity;com.dekan.mall.common.enums;com.dekan.mall.dao.mybatis.generic"/>
	</bean>
	
	<!--配置mybatis数据映射接口-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
  		<property name="basePackage" value="com.dekan.mall.dao.mybatis.intf" />  
	</bean>  
</beans>